<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="<%= asset_path('problem3.css') %>">
<title>Work</title>
</head>
<body>
    <%= link_to "Home", root_path, class: "btn btn-primary" %>
    <%= link_to "about", about_path, class: "btn btn-primary" %>
    <%= link_to "contact", contact_path, class: "btn btn-primary" %>
    <h1>Work: My Projects</h1>

<h2>Project 1: Recipe website through Github Pages</h2>
<h3>Description:
    Using html and js, I have implemented these to create a webpage to toggle between ingredients for a seamless and easy to use website for recipes.
</h3>
<p></p>
<div class="images">
    <%= image_tag "image2.png", class: "images" %>
    <%= image_tag "image1.png", class: "images" %>
</div>


<h2>Project 2: Menu</h2>
<h3>Description:
    The use of CSS is important in website development. Here is an example of a menu created with html and css.
</h3>
<p></p>
<div class="images">
    <%= image_tag "image3.png", class: "images" %>
</div>

</body>
</html>